* {
    box-sizing: border-box;
  }
:root {
    --primary-color: #4CAF50;
    /* Green */
    --secondary-color: #FF9800;
    /* Orange */
    --background-color: #F5F5F5;
    /* Light Gray */
    --text-color: #333333;
    /* Dark Gray */
    --border-color: #E0E0E0;
    /* Light Border */

    --margin-small: 8px;
    --margin-medium: 16px;
    --margin-large: 24px;
    --margin-xlarge: 32px;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

.container-main{
    display: grid;
    height: 100vh;
    width: 100%;
    margin-top: 4%;
    position: relative;
}

.container-login {
    align-items: center;
    justify-content: center;
}

.container-flex-column {
    display: flex;
    flex-direction: column;
}

.labels {
    margin: 3px;
    font-size: 1.6rem;
}

.label-title {
    margin-bottom: 5px;
    font-size: 2rem;
}

.inputs {
    margin: 4px 0 4px 0;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.inputs:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

.input-buttom-login {
    margin: 8px 0;
    padding: 10px 20px;
    font-size: 1.6rem;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.input-buttom-login:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.input-buttom-login:active {
    background-color: #3e8e41;
    transform: scale(1);
}

.links {
    margin-top: 16px;
    font-size: 1.4rem;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s;
    text-align: center;

    &:hover {
        color: #e67e22;
        text-decoration: underline;
    }

    &:active {
        color: #d35400;
    }
}
.bg-error{
text-align: center;
}

.label-error{
    color: red;
    font-size: 1.0rem;
}
